typing-extensions
langchain-openai
langchain-experimental
openai>=1.40.0
pandas
yfinance
praw
feedparser
stockstats
eodhd
langgraph
posthog>=3.1,<4
setuptools
backtrader
akshare
tushare
finnhub-python
parsel
requests
tqdm
pytz
redis
chainlit
rich
questionary
langchain-anthropic
langchain-google-genai
beautifulsoup4
tenacity
